@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<p>Este proyecto fue publicado en Github, por lo que cualquier usuario puede clonarlo para tener una copia e implemntar mejoras. Los usuarios que clonen este proyecto no tienen permitido publicarlo como propio.</p>
