@model Gestor_Contactos.Models.Contactos
@using System.Security.Claims;

@{
    ViewData["Title"] = "Create";
    DateTime dt = DateTime.Now;
    string FechaCreacion = dt.ToString("D");
    var claimsIdentity = (ClaimsIdentity)User.Identity;
    var claims = claimsIdentity.FindFirst(ClaimTypes.NameIdentifier);
}

<h1>Contactos</h1>

<h4>Crear Contacto</h4>
<hr />
<p><b style="color: red;">*</b> Campo obligatorio</p>
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id_usuario" value="@claims.Value" />
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="Favorito" /> @Html.DisplayNameFor(model => model.Favorito)
                </label>
            </div>
            <div class="form-group">
                <label asp-for="Nombres" class="control-label"><b style="color: red;">*</b> Nombre(s)</label>
                <input asp-for="Nombres" class="form-control" required/>
                <span asp-validation-for="Nombres" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Apellidos" class="control-label">Apellido(s)</label>
                <input asp-for="Apellidos" class="form-control" />
                <span asp-validation-for="Apellidos" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="NumTel" class="control-label"><b style="color: red;">*</b> Número telefónico</label>
                <input asp-for="NumTel" class="form-control" id="numTelInput" type="text" maxlength="12" required />
                <span asp-validation-for="NumTel" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Trabajo" class="control-label">Trabajo o profesión</label>
                <input asp-for="Trabajo" class="form-control" />
                <span asp-validation-for="Trabajo" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Correo" class="control-label">Correo electrónico</label>
                <input asp-for="Correo" class="form-control" type="email"/>
                <span asp-validation-for="Correo" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Grupo" class="control-label">Grupo</label>
                <select asp-for="Grupo" class="form-select">
                    <option selected>No asignado</option>
                    <option value="Contactos de mergencia">Contactos de emergencia</option>
                    <option value="Compañeros de trabajo">Compañeros de trabajo</option>
                    <option value="Familia">Familia</option>
                    <option value="Amigos">Amigos</option>
                </select>
                <span asp-validation-for="Grupo" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Direccion" class="control-label">Dirección</label>
                <input asp-for="Direccion" class="form-control" />
                <span asp-validation-for="Direccion" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Relacion" class="control-label">Relación</label>
                <input asp-for="Relacion" class="form-control" />
                <span asp-validation-for="Relacion" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Notas" class="control-label">Nota para el contacto</label>
                <textarea asp-for="Notas" class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
                <span asp-validation-for="Notas" class="text-danger"></span>
            </div>
            <input type="hidden" asp-for="FechaCreacion" value="@FechaCreacion" />
            <div class="form-group">
                <input type="submit" value="Crear" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Regresar</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}

    <script>
        document.getElementById("numTelInput").addEventListener("input", function() {
            var numTel = this.value.replace(/\D/g, ""); // Eliminar todos los caracteres que no sean dígitos
            var formattedNumTel = "";
            if (numTel.length > 0) {
                formattedNumTel = numTel.replace(/(\d{3})(\d{3})(\d{4})/, "$1 $2 $3"); // Aplicar el formato 000 000 0000
            }
            this.value = formattedNumTel;
        });
    </script>
}
